.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.todo-list {
  margin-bottom: 1.5rem;
  //background-color: #fff;
  //border: 1px solid rgba(0, 0, 0, .125);
  //border-radius: 0.25rem;
}

.task-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125);

  &:last-child {
    border-bottom: none;
  }
}

.task-title {
  font-weight: 400;
  padding-top: 5px;
}

.task-item__buttons {
  display: flex;
  column-gap: 5px;
}

.button-action {
  background-color: #e0e5ea;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #e0e5ea;
    opacity: 1;
  }

  img {
    width: 18px;
    pointer-events: none;
  }

  &__active {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.addition-pane {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}

.addition-pane__header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  &:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
}

.addition-pane__body {
  padding: 1.25rem;
}

.form-group {
  margin-bottom: 1rem;

  small {
    color: #6c757d;
    margin-top: 0.25rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0.35rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline-color: #007bff;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #0062cc;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #005cbf;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 0.2s linear, color .15s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    background-color: #141212;
    border-color: transparent;
    color: #fff;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
  }
}

