.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 900;
  padding: 0 5px;
  box-sizing: border-box;
  align-items: center;
  overflow-y: scroll;
}

.content {
  position: relative;
  min-width: 200px;
  background: #F9F9FE;
  border-radius: 2px;

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 0; /* ширина для вертикального скролла */
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 21px;
  cursor: pointer;
}

