.button {
  background-color: #e0e5ea;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #e0e5ea;
    opacity: 1;
  }

  img {
    width: 18px;
    pointer-events: none;
  }

  &__active {
    text-decoration: line-through;
    opacity: 0.5;
  }
}